<div class="card">
    <div class="card-header">
       <h4><a class="link" href="/rating/{{id}}">{{title}}</a></h4>
        <p>{{user.username}} : {{rating.score}} Stars</p>
    </div>
        
</div>