<div onload="displayBookInfo()">
    <h1>Book Of The Month</h1>
    <img id="bookCover" src="http://covers.openlibrary.org/b/oclc/472969902-L.jpg">
 
  </div>

  <script type="text/javascript" src="homepage.js"></script>