<div onload="displayBookInfo()">
    <h2>Book Of The Month</h1>
    <img src="http://covers.openlibrary.org/b/isbn/0060766921-L.jpg" /></a>
    
 
  </div>

  <script type="text/javascript" src="homepage.js"></script>