
<div class="">
    <h3 class="card-header bg-info">Past Books</h3>
    <p class="text-light">Explore discussions for previous books.</p>
<div id="pastBooks">
    <a href="/discussion"><img src="http://covers.openlibrary.org/b/oclc/20921600
-L.jpg" /></a>
    
<a href="/discussion"><img src="http://covers.openlibrary.org/b/isbn/9780743273565-L.jpg" /></a>

<a href="/discussion"><img src="http://covers.openlibrary.org/b/isbn/9780143039952-L.jpg" /></a>
    </div></div>
