
<div class="card">
    <h3 class="card-header">Past Books</h3>
    <p>Explore discussions for previous books.</p>

<a href="/discussion"><img src="http://covers.openlibrary.org/b/isbn/9780385533225-M.jpg" /></a>
<a href="/discussion"><img src="http://covers.openlibrary.org/b/goodreads/2984417-M.jpg" /></a>
<a href="/discussion"><img src="http://covers.openlibrary.org/b/goodreads/5320716-M.jpg" /></a>
    </div>
