<div onload="displayBookInfo()" class="card">
    <h3 class="card-header bg-info">Ratings</h3>
    <p>Choose your rating out of 5 stars for the current book of the month.</p>
    <div id="userRatings">
    {{#each ratings.score as |rating|}}
  {{> rating-body}}
    {{/each}}
<img id="bookCover"></img>

    </div>
    <button type="submit" class="btn" id="oneStar">1 Star</button>
    <button type="submit" class="btn" id="twoStar">2 Star</button>
    <button type="submit" class="btn" id="threeStar">3 Star</button>
    <button type="submit" class="btn" id="fourStar">4 Star</button>
    <button type="submit" class="btn" id="fiveStar">5 Star</button>
    </form>
</div>

<script src="./js/add-rating.js"></script>